
.transition{
    width: 100px;
    height: 100px;
    background-image: url("pics/knowledge_graph_logo.png");
    background-repeat: no-repeat;
    -webkit-transition: width 1s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s, height 1s;
}

.transition:hover {
    width: 800px;
    height: 450px;
    background-image: url("pics/iPhone_7.jpg");
    background-repeat: no-repeat;
}

.dinosaur {
    width: 125px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation-name: dinosaur-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: dinosaur-animation;
    animation-duration: 5s;
    visibility: hidden;

}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes dinosaur-animation {
     0%    {          visibility: visible; left:3000px; top:0px; transform: rotate( 15deg)}
     5%    {          visibility: visible; left: 950px; top:0px; transform: rotate(-15deg)}
     10%   {          visibility: visible; left: 900px; top:0px; transform: rotate( 15deg)}
     15%   {          visibility: visible; left: 850px; top:0px; transform: rotate(-15deg)}
     20%   {          visibility: visible; left: 800px; top:0px; transform: rotate( 15deg)}
     25%   {          visibility: visible; left: 750px; top:0px; transform: rotate(-15deg)}
     30%   {          visibility: visible; left: 700px; top:0px; transform: rotate( 15deg)}
     35%   {          visibility: visible; left: 650px; top:0px; transform: rotate(-15deg)}
     40%   {          visibility: visible; left: 600px; top:0px; transform: rotate( 15deg)}
     45%   {          visibility: visible; left: 550px; top:0px; transform: rotate(-15deg)}
     50%   {          visibility: visible; left: 500px; top:0px; transform: rotate( 15deg)}
     55%   {          visibility: visible; left: 450px; top:0px; transform: rotate(-15deg)}
     60%   {          visibility: visible; left: 400px; top:0px; transform: rotate( 15deg)}
     65%   {          visibility: visible; left: 350px; top:0px; transform: rotate(-15deg)}
     70%   {          visibility: visible; left: 300px; top:0px; transform: rotate( 15deg)}
     75%   {          visibility: visible; left: 250px; top:0px; transform: rotate(-15deg)}
     80%   {          visibility: visible; left: 200px; top:0px; transform: rotate( 15deg)}
     85%   {visibility: visible; left: 150px; top:0px; transform: rotate(-15deg) scale(0.7,0.7)}
     90%   {visibility: visible; left: 100px; top:0px; transform: rotate( 15deg) scale(0.5,0.5)}
     95%   {visibility: visible; left:  50px; top:0px; transform: rotate(-15deg) scale(0.3,0.3)}
     100%  {visibility: visible; left:   0px; top:0px; transform: rotate( 15deg) scale(0.1,0.1)}
}

/* Standard syntax */
@keyframes dinosaur-animation {
    0%    {          visibility: visible; left:3000px; top:0px; transform: rotate( 15deg)}
    5%    {          visibility: visible; left: 950px; top:0px; transform: rotate(-15deg)}
    10%   {          visibility: visible; left: 900px; top:0px; transform: rotate( 15deg)}
    15%   {          visibility: visible; left: 850px; top:0px; transform: rotate(-15deg)}
    20%   {          visibility: visible; left: 800px; top:0px; transform: rotate( 15deg)}
    25%   {          visibility: visible; left: 750px; top:0px; transform: rotate(-15deg)}
    30%   {          visibility: visible; left: 700px; top:0px; transform: rotate( 15deg)}
    35%   {          visibility: visible; left: 650px; top:0px; transform: rotate(-15deg)}
    40%   {          visibility: visible; left: 600px; top:0px; transform: rotate( 15deg)}
    45%   {          visibility: visible; left: 550px; top:0px; transform: rotate(-15deg)}
    50%   {          visibility: visible; left: 500px; top:0px; transform: rotate( 15deg)}
    55%   {          visibility: visible; left: 450px; top:0px; transform: rotate(-15deg)}
    60%   {          visibility: visible; left: 400px; top:0px; transform: rotate( 15deg)}
    65%   {          visibility: visible; left: 350px; top:0px; transform: rotate(-15deg)}
    70%   {          visibility: visible; left: 300px; top:0px; transform: rotate( 15deg)}
    75%   {          visibility: visible; left: 250px; top:0px; transform: rotate(-15deg)}
    80%   {          visibility: visible; left: 200px; top:0px; transform: rotate( 15deg)}
    85%   {visibility: visible; left: 150px; top:0px; transform: rotate(-15deg) scale(0.7,0.7)}
    90%   {visibility: visible; left: 100px; top:0px; transform: rotate( 15deg) scale(0.5,0.5)}
    95%   {visibility: visible; left:  50px; top:0px; transform: rotate(-15deg) scale(0.3,0.3)}
    100%  {visibility: visible; left:   0px; top:0px; transform: rotate( 15deg) scale(0.1,0.1)}
}
.chest {
    margin-top: 59px;
    width:  75px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation-name: chest-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: chest-animation;
    animation-duration: 5s;
    transform:scale(2.0,2.0);
}
.chest-vibrate{
    margin-top: 59px;
    width:  75px;
    background-repeat: no-repeat;
    position: relative;
    transform:scale(2.0,2.0);
    -webkit-animation-name: vibrate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: vibrate;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
@-webkit-keyframes chest-animation {
    0%    {          visibility: visible; left:3000px; top:0px; transform: rotate( 5deg)}
    5%    {          visibility: visible; left: 950px; top:0px; transform: rotate(-5deg)}
    10%   {          visibility: visible; left: 900px; top:0px; transform: rotate( 5deg)}
    15%   {          visibility: visible; left: 850px; top:0px; transform: rotate(-5deg)}
    20%   {          visibility: visible; left: 800px; top:0px; transform: rotate( 5deg)}
    25%   {          visibility: visible; left: 750px; top:0px; transform: rotate(-5deg)}
    30%   {          visibility: visible; left: 700px; top:0px; transform: rotate( 5deg)}
    35%   {          visibility: visible; left: 650px; top:0px; transform: rotate(-5deg)}
    40%   {          visibility: visible; left: 600px; top:0px; transform: rotate( 5deg)}
    45%   {          visibility: visible; left: 550px; top:0px; transform: rotate(-5deg)}
    50%   {          visibility: visible; left: 500px; top:0px; transform: rotate( 5deg)}
    55%   {          visibility: visible; left: 450px; top:0px; transform: rotate(-5deg)}
    60%   {          visibility: visible; left: 400px; top:0px; transform: rotate( 5deg)}
    65%   {          visibility: visible; left: 350px; top:0px; transform: rotate(-5deg)}
    70%   {          visibility: visible; left: 300px; top:0px; transform: rotate( 5deg)}
    75%   {          visibility: visible; left: 250px; top:0px; transform: rotate(-5deg)}
    80%   {          visibility: visible; left: 200px; top:0px; transform: rotate( 5deg)}
    85%   {visibility: visible; left: 150px; top:0px;transform:scale(1.2,1.2)}
    90%   {visibility: visible; left: 100px; top:0px;transform:scale(1.5,1.5)}
    95%   {visibility: visible; left:  50px; top:0px;transform:scale(1.75,1.75)}
    100%  {visibility: visible; left:   0px; top:0px;transform:scale(2.0,2.0)}
}
/*  HANS TAHAB PIZZAT, HANS SÖÖB:
    Cananss, ilma ananassita, suurt paksu

    Grete tahab:
    Romana, suurt õhukest
    Jörgen tahab:
    Mafiosot, suurt õhukest
    YO, Word up...YE
  */
.coin-bounce-left{

    width:  50px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation-name: coin-bounce-left; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: coin-bounce-left;
    animation-duration: 2s;
    visibility: hidden;

}
.coin-bounce-right{

    width:  50px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation-name: coin-bounce-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: coin-bounce-right;
    animation-duration: 2s;
    visibility: hidden;

}
/* Standard syntax */
.coin-single{

    width:  50px;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation-name: coin-toss; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: coin-toss;
    animation-duration: 1s;
    visibility: hidden;
}
@keyframes coin-bounce-left {
    /* 1fst bounce */
    0%    {visibility: visible; top:100px;    left:0px;  opacity:1.0;  }
    5%    {visibility: visible; top:30px;     left:75px; opacity:1.0;  }
    10%   {visibility: visible; top:10px ;    left:125px;opacity:1.0;  }
    15%   {visibility: visible; top:50px;     left:163px;opacity:1.0; transform: rotate3d(1,   2,  -1, 192deg);}
    20%   {visibility: visible; top:100px;    left:200px;opacity:1.0; transform: rotate3d(10, 20, -20, 192deg);}
    /* 2nd bounce */

    30%   {visibility: visible; top:50px ;    left:250px;opacity:1.0; transform: rotate3d(20, 30, -30, 192deg);}
    40%   {visibility: visible; top:100px;    left:300px;opacity:1.0; transform: rotate3d(30, 40, -40, 192deg);}
    /* 3rd bounce */
    50%   {visibility: visible; top:60px ;    left:325px;opacity:0.9;  }
    60%   {visibility: visible; top:100px;    left:350px;opacity:0.8;  }
    /* 4th bounce */
    70%   {visibility: visible; top:80px ;    left:363px;opacity:0.7;  }
    80%   {visibility: visible; top:100px;    left:375px;opacity:0.6;  }
    /* 5th bounce */                                               
    90%   {visibility: visible; top:95px ;    left:381px;opacity:0.4;  }
    100%  {visibility: visible; top:100px;    left:387px;opacity:0.2;  }
    
}
@keyframes coin-bounce-right {
    /* 1fst bounce */
    0%    {visibility: visible; top:100px;    right:0px;  opacity:1.0}
    5%    {visibility: visible; top:30px;     right:75px; opacity:1.0}
    10%   {visibility: visible; top:10px ;    right:125px;opacity:1.0}
    15%   {visibility: visible; top:50px;     right:163px;opacity:1.0; transform: rotate3d(1,   2,  -1, 192deg);}
    20%   {visibility: visible; top:100px;    right:200px;opacity:1.0; transform: rotate3d(10, 20, -20, 192deg);}
    /* 2nd bounce */
    30%   {visibility: visible; top:50px ;    right:250px;opacity:1.0; transform: rotate3d(20, 30, -30, 192deg);}
    40%   {visibility: visible; top:100px;    right:300px;opacity:1.0; transform: rotate3d(30, 40, -40, 192deg);}
    /* 3rd bounce */
    50%   {visibility: visible; top:60px ;    right:325px;opacity:0.9}
    60%   {visibility: visible; top:100px;    right:350px;opacity:0.8}
    /* 4th bounce */
    70%   {visibility: visible; top:80px ;    right:363px;opacity:0.7}
    80%   {visibility: visible; top:100px;    right:375px;opacity:0.6}
    /* 5th bounce */                          
    90%   {visibility: visible; top:95px ;    right:381px;opacity:0.4}
    100%  {visibility: visible; top:100px;    right:387px;opacity:0.2}

}
@keyframes coin-toss {
    0%    {visibility: visible; top:50px}
    5%    {visibility: visible; top:50px}
    10%   {visibility: visible; top:50px}
    15%   {visibility: visible; top:50px}
    20%   {visibility: visible; top:50px}
    25%   {visibility: visible; top:50px}
    30%   {visibility: visible; top:50px}
    35%   {visibility: visible; top:50px}
    40%   {visibility: visible; top:50px}
    45%   {visibility: visible; top:50px}
    50%   {visibility: visible; top:50px; opacity:1.0}
    55%   {visibility: visible; top:50px; opacity:0.9}
    60%   {visibility: visible; top:50px; opacity:0.8}
    65%   {visibility: visible; top:50px; opacity:0.7}
    70%   {visibility: visible; top:50px; opacity:0.6}
    75%   {visibility: visible; top:50px; opacity:0.5}
    80%   {visibility: visible; top:50px; opacity:0.4}
    85%   {visibility: visible; top:50px; opacity:0.3}
    90%   {visibility: visible; top:50px; opacity:0.2}
    95%   {visibility: visible; top:50px; opacity:0.1}
    100%  {visibility: visible; top:50px; opacity:0.0}
}
@-webkit-keyframes coin-toss {
    0%    {visibility: visible; top:100px}
    5%    {visibility: visible; top:100px}
    10%   {visibility: visible; top:100px}
    15%   {visibility: visible; top:100px}
    20%   {visibility: visible; top:100px}
    25%   {visibility: visible; top:100px}
    30%   {visibility: visible; top:100px}
    35%   {visibility: visible; top:100px}
    40%   {visibility: visible; top:100px}
    45%   {visibility: visible; top:10px}
    50%   {visibility: visible; top:11px; opacity:1.0}
    55%   {visibility: visible; top:12px; opacity:0.9}
    60%   {visibility: visible; top:13px; opacity:0.8}
    65%   {visibility: visible; top:14px; opacity:0.7}
    70%   {visibility: visible; top:15px; opacity:0.6}
    75%   {visibility: visible; top:16px; opacity:0.5}
    80%   {visibility: visible; top:17px; opacity:0.4}
    85%   {visibility: visible; top:18px; opacity:0.3}
    90%   {visibility: visible; top:19px; opacity:0.2}
    95%   {visibility: visible; top:20px; opacity:0.1}
    100%  {visibility: visible; top:21px; opacity:0.0}
}
@keyframes animation-chest {
    0%    {          visibility: visible; left:3000px; top:0px; transform: rotate( 5deg)}
    5%    {          visibility: visible; left: 950px; top:0px; transform: rotate(-5deg)}
    10%   {          visibility: visible; left: 900px; top:0px; transform: rotate( 5deg)}
    15%   {          visibility: visible; left: 850px; top:0px; transform: rotate(-5deg)}
    20%   {          visibility: visible; left: 800px; top:0px; transform: rotate( 5deg)}
    25%   {          visibility: visible; left: 750px; top:0px; transform: rotate(-5deg)}
    30%   {          visibility: visible; left: 700px; top:0px; transform: rotate( 5deg)}
    35%   {          visibility: visible; left: 650px; top:0px; transform: rotate(-5deg)}
    40%   {          visibility: visible; left: 600px; top:0px; transform: rotate( 5deg)}
    45%   {          visibility: visible; left: 550px; top:0px; transform: rotate(-5deg)}
    50%   {          visibility: visible; left: 500px; top:0px; transform: rotate( 5deg)}
    55%   {          visibility: visible; left: 450px; top:0px; transform: rotate(-5deg)}
    60%   {          visibility: visible; left: 400px; top:0px; transform: rotate( 5deg)}
    65%   {          visibility: visible; left: 350px; top:0px; transform: rotate(-5deg)}
    70%   {          visibility: visible; left: 300px; top:0px; transform: rotate( 5deg)}
    75%   {          visibility: visible; left: 250px; top:0px; transform: rotate(-5deg)}
    80%   {          visibility: visible; left: 200px; top:0px; transform: rotate( 5deg)}
    85%   {visibility: visible; left: 150px; top:0px;transform:scale(1.2,1.2)}
    90%   {visibility: visible; left: 100px; top:0px;transform:scale(1.5,1.5)}
    95%   {visibility: visible; left:  50px; top:0px;transform:scale(1.75,1.75)}
    100%  {visibility: visible; left:   0px; top:0px;transform:scale(2.0,2.0)}
}

#vibrate {
    left:   500px;
    top:    200px;
    width:  100px;
    height: 100px;
    background-image: url("pics/doge.jpg");
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation-name: vibrate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: vibrate;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes vibrate {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* Standard syntax */
@keyframes vibrate {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}






